# Exclude PSQL data
data/*
!data/.keep

# Exclude PSQL data from examples
examples/*/data/*
!examples/single/data/.keep
!examples/master/data/.keep

# Exclude PSQL data from backups
examples/backup/data/*
!examples/backup/data/.keep

# Exclude PSQL data from snapshot
examples/snapshot/data/*
!examples/snapshot/data/.keep

examples/.env
tmp/
