refactor/*
# Exclude PSQL data
config
data
data/*
!data/.keep
data.bak/*

# Exclude PSQL data from single example
examples/single/data/*
!examples/single/data/.keep

# Exclude PSQL data from master example
examples/master/data/*
!examples/master/data/.keep

# Exclude PSQL data from backup example
examples/backup/data/*
!examples/backup/data/.keep

# Exclude PSQL data from snapshot example
examples/snapshot/data/*
!examples/snapshot/data/.keep

# Exclude PSQL data from master-standby example
examples/master-standby/master/*
examples/master-standby/standby-1/*
examples/master-standby/standby-2/*
!examples/master-standby/master/.keep
!examples/master-standby/standby-1/.keep
!examples/master-standby/standby-2/.keep

# Exclude PSQL data from repmgr example
examples/repmgr/psql-1/*
examples/repmgr/psql-2/*
examples/repmgr/psql-3/*
examples/repmgr/psql-4/*
!examples/repmgr/psql-1/.keep
!examples/repmgr/psql-2/.keep
!examples/repmgr/psql-3/.keep
!examples/repmgr/psql-4/.keep

# Global Project settings
.vscode/*.log
examples/.env
tmp/
test.conf
